

.form-mother {

    /* part1: basic styles */
    background-color: lightgray;
    height: 500px;

    /* part2: flex */
    display: flex;
    justify-content: center;
    align-items: center;

}

div {
    margin-left: 10px;
    padding: 5px;
}